# Simple Project
simple/server/node_modules
simple/server/.env
simple/chat-app/node_modules
simple/chat-app/.env

# Advance
project/service/node_modules
project/service/.env
project/chat-app/node_modules
project/chat-app/.env

# Docker
.dockers/*